# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      production-dependencies:
        dependency-type: 'production'
      eslint:
        patterns:
          - '*eslint*'
          - 'eslint'
          - '@eslint/js'
          - 'globals'
      jest:
        patterns:
          - '*jest*'
          - 'jest'
      development-dependencies:
        dependency-type: 'development'
        exclude-patterns:
          - '*eslint*'
          - 'eslint'
          - '@eslint/js'
          - 'globals'
          - '*jest*'
          - 'jest'
    commit-message:
      prefix: 'chore(deps)'
      include: 'scope'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
