#!/bin/sh
. "$(dirname "$0")/_/husky.sh"

echo '👷🏻 Running tests before committing'

# Run tests
npm run test || (
        echo '🚨 👷🏻 Tests failed
        
        Some tests did not pass, please check the above errors.

        💡 You can also run `npm run test` to see the issues and fix them manually.
        '
        false;
)

echo '✅ All tests passed. Committing... 🤘🏻'